[submodule "ppcfd/models/ppcfd/models/pptransformer"]
	path = ppcfd/models/ppcfd/models/pptransformer
	url = git@github.com:wangguan1995/DNNFluid-Car.git
[submodule "ppcfd/models/pptransformer"]
	path = ppcfd/models/pptransformer
	url = git@github.com:wangguan1995/DNNFluid-Car.git
